@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@keyframes menuAppear {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes textAppear {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: 100%;
    }
}

:root {
    --BarlowFont: "Barlow", sans-serif;
    --barlowCondensedFont: "Barlow Condensed", sans-serif;
    --bellefairFont: "Bellefair", serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

header {
    display: grid;
    justify-items: right;
    background-color: rgba(0, 0, 0, 0);
}

header > div#logo {
    justify-self: left;
    position: relative;
    top: 40px;
}

header > div#burger, div#logo {
    padding: 0px 40px;
}

header > div#burger:hover {
    cursor: pointer;
}

menu {
    display: none;
}

nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
    padding: 40px;
    height: 100vh;
    width: 80%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(25px);
    justify-self: right;
    animation: menuAppear;
    animation-duration: 0.35s;
}

nav > #close {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: right;
}

nav > ul {
    list-style-type: none;
    line-height: 60px;
    font-size: 1.5em;
    width: 100%;
    font-family: var(--barlowCondensedFont);
    padding: 40px 0px;
}

nav > ul > li {
    position: relative;
    right: 40px;
    width: 125.8%;
    max-width: 350px;
    display: grid;
}

nav > ul > li:hover, menu > ul > li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.1s;
}

nav > ul > li.active, menu > ul > li.active {
    border-left: 7px solid rgb(240, 240, 240);
}

nav > ul > li > a, menu > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    padding-left: 40px;
    letter-spacing: 2px;
}

nav > ul > li > a > strong {
    margin-right: 10px;
}

body > main#container {
    height: fit-content;
    width: 100%;
    padding: 40px;
}

#container > h2#pick {
    font-family: var(--barlowCondensedFont);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    padding: 10px 0px 20px 0px;
    width: 100%;
    color: #D0D6F9;
}

#container > h2#pick > strong {
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
}

#infos {
    display: grid;
    justify-content: center;
}

#infos > ul {
    justify-self: center;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: var(--BarlowFont);
}

#infos > ul > li {
     width: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     font-weight: 200;
     
}

#infos > ul > li > a {
    padding: 25px 20px;
    text-decoration: none;
    color: #D0D6F9;
}

#infos > ul > li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s;
}

#infos > ul > li#choose {
    border-bottom: 5px solid white;
}

#infos > #image {
    height: 300px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#image > img {
    height: 250px;
    width: 250px;

}

#texts {
    display: grid;
    width: 100%;
    animation: textAppear 0.5s;
}

#infos > #texts > #destination {
    font-size: 5em;
    font-family: var(--bellefairFont);
    font-weight: 100;
    text-transform: uppercase;
    justify-self: center;
    padding: 20px 0px 10px 0px;
}

#infos > #texts > #text {
    font-family: var(--BarlowFont);
    font-weight: 100;
    color: #D0D6F9;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    width: 95%;
    justify-self: center;
    border-bottom: 1px solid #8c8c8e;
    padding: 0px 0px 30px 0px;
    animation: textAppear 1s;
}

#infos > #texts > #travelInfo {
    width: 100%;
    font-family: var(--barlowCondensedFont);
    display: grid;
    justify-self: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: 40px 0px;
    font-size: 18px;
}

#travelInfo > #distance {
    margin-top: -20px;
    margin-bottom: 60px;
}

#travelInfo  h3 {
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #D0D6F9;
    animation: textAppear 1s;
}

#travelInfo p {
    font-family: var(--bellefairFont);
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 5px;
    font-weight: 100;
    color: #fdfdfd;
    animation: textAppear 2s;
}