@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes show-up {
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
}

body {
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
}

section {
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 0px 20px hsl(215, 52%, 6%);
}

#image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: green;
    border-radius: 10px;
    overflow: hidden;
    background: url(../images/image-equilibrium.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#image > #hoverView {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.5);
    opacity: 0;
}
#image > #hoverView:hover {
    cursor: pointer;
    animation: show-up 0.1s;
    opacity: 100%;
}

section > h2 {
    color: white;
    margin: 15px 0px;
}

section > h2:hover {
    cursor: pointer;
    color: aqua;
}

section > p {
    margin-bottom: 15px;
}

section > ul {
    display: flex;
    justify-content: space-between;
    list-style-position: inside;
    margin-bottom: 15px;
}

section > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
}

section > ul > #value::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-ethereum.svg);
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

section > ul > #value {
    color: aqua;
}

section > ul > #timeLeft::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url(../images/icon-clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}


hr {
    opacity: 20%;
}

#creator {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#creator > img {
    width: 40px;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

#creator > small > strong {
    color: white;
}
#creator > small > strong:hover {
    cursor: pointer;
    color: aqua;
}

#imageViewer {
    height: 500px;
    width: 80dvw;
    max-width: 600px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/image-equilibrium.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    display: none;
    animation: show-up 0.25s;
}

#imageViewer > #close {
    font-size: 1.5em;
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
}

#imageViewer > #close:hover {
    cursor: pointer;
    color: aqua;
}